.photo {
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.main {
  display: flex;
  margin-top: 15px;
}
.avaButt {
  padding: 20px;
  text-align: center;
}
.ava {
  border-radius: 50%;
}
.info {
  display: flex;
  border: 1px solid;
  border-radius: 25px;
  width: 60%;
}
.info__name {
  width: 50%;
  padding: 20px;
  text-align: start;
}
.info__location {
  width: 50%;
  padding: 20px;
  text-align: end;
}
.info__item {
  height: 50px;
  line-height: 50px;
}
