.nav {
  grid-area: nav;
  padding-left: 60%;
  margin-right: 20%;
  /* background-color: rgb(255, 185, 127); */
}

.item {
  font-size: 20px;
  padding: 2% 0;
}
.item a {
  color: black;
  text-decoration: none;
}
.item:hover {
  font-weight: 700;
}
.item a:hover {
  color: rgb(241, 235, 235);
}

.item a.active {
  color: goldenrod;
}
