.wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";
  grid-template-columns: 1fr 5fr;
  background-color: rgba(89, 100, 98, 0.267);
}
.content {
  grid-area: content;
  padding-right: 13%;
  padding-left: 5%;
}
