.dialogs {
  display: flex;
  text-align: center;
}
.dialogs__items {
  width: 30%;
  border-right: rgb(109, 124, 104) dashed;
  border-left: rgb(109, 124, 104) solid;
}
.dialogs__messages {
  width: 70%;
}

.text__area {
  width: 70%;
}
